@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #ff7c3b;
  --color-accent-variant: #bd602c;

  --color-dark: #18181b;
  --color-gray: #71717a;
  --color-light: #ffffff;
  --color-blue-900: #00042c;
  --color-blue-800: #213050;

  --color-background: var(--color-blue-900);
  --color-surface: var(--color-blue-800);
}

body {
  @apply bg-background text-light selection:bg-accent selection:text-light;
}

/* Titles */
.parent-title {
  @apply font-bold;
}

.title-1 {
  @apply parent-title text-5xl;
}
.title-2 {
  @apply parent-title text-4xl;
}
.title-3 {
  @apply parent-title text-3xl;
}
.title-4 {
  @apply parent-title text-2xl;
}
.title-5 {
  @apply parent-title text-xl;
}
.title-6 {
  @apply parent-title text-lg;
}
