@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #5bc0de;
  --color-primary-variant: #31b0d5;
  --color-secondary: #ff7c3b;
  --color-secondary-variant: #bd602c;

  --color-dark: #18181b;
  --color-gray: #71717a;
  --color-light: #ffffff;

  --color-background: #00042c;
  --color-surface: #213050;
}

body {
  @apply bg-gradient-to-b from-secondary to-secondary-variant text-light selection:bg-secondary selection:text-light;
}

/* Titles */
.parent-title {
  @apply font-bold;
}

.title-1 {
  @apply parent-title text-5xl;
}
.title-2 {
  @apply parent-title text-4xl;
}
.title-3 {
  @apply parent-title text-3xl;
}
.title-4 {
  @apply parent-title text-2xl;
}
.title-5 {
  @apply parent-title text-xl;
}
.title-6 {
  @apply parent-title text-lg;
}
